body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#loginForm {
  text-align: center;
}

input {
  padding: 5px;
  margin: 2px;
}

form > button {
  background-color: greenyellow;
  color: black;
}

#blocked {
  text-align: center;
  color: red;
  display: none;
}

#menu {
  text-align: center;
}
